<% include partials/header.ejs %>

  <div class='parallax'></div>

  <div class='container content'>
    <div class='row'>
      <% include partials/index-sidebar.ejs %>
      <div class='col-sm-9 index-main'>
        <h2 class='header'>Recent Reviews</h2>
        <div class='sidebar-list'>
          <% reviews.forEach(function(review) { %>
            <div class='review'>
              <h5><a href="/albums/<%= review.album_id %>"><%= review.title %></a></h5>
              <span>Posted on <%= review.date %></span>
              <p><%= review.body %></p>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer.ejs %>
