<div class='col-sm-3 index-sidebar'>
  <h2 class='header'>Records</h2>

  <div class='sidebar-list'>
    <div class="album-list">
      <% albums.forEach(function(album) { %>
        <div>
          <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
          <span><%= album.artist %></span>
        </div>
      <% }) %>
    </div>
  </div>
</div>
