<div class='masthead fixed-top'>
  <div class='container nav-container'>
    <nav class='navbar'>
      <div class='mr-auto'>
        <a class='logo' href='/'><img class='logo' src="/images/logo.svg" alt="vinyl-logo"></a>
        <a class='logo' href='/'>&nbsp;vinyl</a>
      </div>
      <ul class='navbar'>
        <li class='nav-item'><a class='nav-link' href='/sign-up'>Sign Up</a></li>
        <li class='nav-item'><a class='nav-link' href='/sign-in'>Sign In</a></li>
      </ul>
    </nav>
  </div>
</div>
